---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$color-beige: #E8B884;
$color-green: #206964;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.box-wrapper, .container-wrapper {
  background: white;
  border-bottom: 25px solid $color-beige;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  border-radius: 3px;

  font-family: Quicksand, sans-serif;
  color: #666;
  font-size: 15px;

  &.box-text, &.box-text2 {

    .title {
      text-transform: uppercase;
      position: relative;
      margin-bottom: 25px;
      text-align: center;

      h1 {
        font-family: 'EB Garamond', serif;
        font-weight: bold;
        margin: 0;
        font-size: 4.5em;
        margin-bottom: 5px;
        color: #555555;
      }
      .leaf {
        display: inline;
        top: 00px;
        width: 30px;
        right: 50px;
      }
    }

    ul, p {
      font-size: 14px;
    }

    p {
      line-height: 1.8;
      font-size: 15px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  &.box-main {
    text-align: center;

    .title {
      text-transform: uppercase;
      position: relative;
      margin-bottom: 30px;

      h3 {
        font-size: 15px;
        color: #9b9b9b;
        margin: 0;
      }

      h1 {
        font-family: 'EB Garamond', serif;
        font-weight: bold;
        margin: 0;
        font-size: 4.5em;
        margin-bottom: 5px;
        color: #555555;
      }

      .leaf {
        position: absolute;
        top: -10px;
        width: 30px;
        right: 10px;
      }
    }

    .subtitle {
      font-size: 15px;
      color: #585858;
      margin-bottom: 30px;
      text-transform: capitalize;
    }

    .details {
      margin-bottom: 40px;
    }

    .apply {
      border: 2px solid $color-beige;
      border-radius: 4px;
      color: $color-beige;
      padding: 10px 20px;
      background: transparent;
      font-size: 18px;
      font-family: 'EB Garamond', serif;
      font-weight: bold;
      letter-spacing: 1px;

      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.page-team {
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  & > section {
    margin-bottom: 20px;
  }


  .team-list > li {
    list-style: none;
    position: relative;

    $img-size: 150px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .picture {
      overflow: hidden;
      margin-bottom: 20px;
      float: left;

      div {
        width: $img-size;
        height: $img-size;
        /*border-radius: $img-size;*/
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }

    .text {
      position: relative;
      padding-left: $img-size+20;
    }

    .name {
      font-size: 1.2em;
      margin-bottom: .5em;
      color: #111;
    }

    .position {
      font-style: italic;
      margin-bottom: 1em;
      color: #333;
    }

    .bio {
      font-weight: normal;
      font-size: 14px;
      color: #666;
    }
  }
}

.container-wrapper {
  padding: 40px;
  position: relative;
}

@media screen and (max-width: $on-laptop) {
  .box-wrapper, .container-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 40px 30px;
    border-radius: 0;
    font-size: 12px;
  }

  .page-team .team-list > li {
    .picture {
      float: none;
    }

    .text {
      padding-left: 0;
    }
  }
}

@media screen and (min-width: $on-laptop) {
  .container-wrapper {
    width: 960px;
    margin: 70px auto;
  }

  .box-wrapper {
    position: absolute;
    width: 600px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  
  .box-wrapper.box-main {
    position: absolute;
    width: 450px;
    left: 10%;
    padding: 80px 70px 40px;
  }

  .box-wrapper.box-text2 {
    position: absolute;
    left: 10%;
    width: 450px;
    padding: 50px 40px 40px;
  }

  .box-wrapper.box-text {
    position: absolute;
    right: 10%;
    padding: 50px 40px 40px;
  }
}


.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  background: #fff no-repeat center top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-credits {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 10px;
  background: rgba(0,0,0,.1);
  color: rgba(255,255,255,.5);
  padding: 5px 10px;
  text-transform: uppercase;

  font-family: "Helvetica Neue", sans-serif;
}

.navbar {
  border-radius: 0 !important;
  background: $color-green !important;
  border: 0 !important;

  .navbar-brand {
    img {
      width: 22px;
    }
  }

  .navbar-nav li {
    a {
      text-transform: uppercase;
      font-family: Quicksand, sans-serif;
      font-weight: 400;
      color: #e0e0e0 !important;
      transition: all .1s linear;

      &:hover {
        color: #fff !important;
        text-decoration: none;
      }
    }

    &.special {
      background: rgba(0,0,0,.1);
        a {
          color: white !important;
        }

      transition: all .1s linear;
      &:hover {
        background: rgba(0,0,0,.2);
      }
    }

    &.active a {
      color: white !important;
      background: none !important;
      font-weight: bold;
    }
  }
}

.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;

  .icon-bar {
    background-color: white !important;
  }

  &:focus, &:hover {
    background: rgba(0,0,0,.1) !important;
  }
}

