---
layout: container
name: team
---

<div class="page-team">
	<div class="title">
		<h1>
			Meet the Team
			<img class="leaf" src="{{ "/images/leaf.png" | prepend: site.baseurl }}" />
		</h1>
	</div>

	<section class="board">
		<h2>Board of Directors</h2>

		<ul class="row team-list">
			{% for member in site.data.team.board %}
			<li class="col-md-12">
				<div class="picture">
          <div style="background-image: url({{ site.baseurl }}/images/pictures/{{ member.picture }})"></div>
				</div>
        <div class="text">
          <div class="name">{{ member.name }}</div>
          <div class="position">{{ member.position }}</div>
          <div class="bio">{{ member.bio }}</div>
        </div>
			</li>
			{% endfor %}
		</ul>
		<ul>
		</ul>
	</section>

	<section class="committee">
		<h2>ILS Committee Members</h2>
		<ul class="row team-list">
			{% for member in site.data.team.committee %}
			<li class="col-md-12">
				<div class="picture">
          <div style="background-image: url({{ site.baseurl }}/images/pictures/{{ member.picture }})"></div>
				</div>
        <div class="text">
          <div class="name">{{ member.name }}</div>
          <div class="position">{{ member.position }}</div>
          <div class="bio">{{ member.bio }}</div>
        </div>
			</li>
			{% endfor %}
		</ul>
	</section>
</div>
